html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body ,#upper{
    display :flex;
    flex-direction: column;
    flex: 1;
}
footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}
#mainBody {
    display:flex;
    flex: 1;
    justify-content: center;
}
#calculator {
    padding: 8px;
    height: 390px;
    width: 250px;
    border:  0.5px solid green;
    display: flex;
    flex-direction: column;
}

#upper {
    height: 100px;
    border: 0.5px solid black;
    text-align: end;
    justify-content: space-around;
    font-size: 40px;
}
#lower {
    height: 275px;
    border: 0.5px solid black;
}
.row {
    /* border: 0.5px dotted pink; */
    display: flex;
    padding: 2px;
    gap: 4px;
}
button {
    height: 50px;
    flex: 1;
}

